@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --orange: hsl(25, 97%, 53%);

  /* neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  font-family: Overpass, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  color: var(--light-grey);

  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-component {
  background-color: hsla(213, 20%, 18%, 0.7);
  /* background-image: linear-gradient(to top, hsl(213, 19%, 18%), hsla(213, 20%, 18%, 0.185)); */
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  margin: 1.2rem;
  width: 328px;
  height: 365px;
  border-radius: 15px;
}

.rating-display {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating-display h1 {
  color: var(--white);
}

.rating-display p {
  font-size: .875rem;
  line-height: 1.3rem;
}

.icon-star {
  background-color: hsla(216, 12%, 54%, 0.150);
  border-radius: 50%;
  width: 38px;
  height: 38px;

  display: grid;
  place-content: center;
}

.icon-star img {
  width: 14px;
  height: 14px;
  margin-left: .1rem;
}

.options {
  margin: .6rem 0;

  display: flex;
  justify-content: space-between;
}

.option {
  background-color: hsla(216, 12%, 54%, 0.150);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: .85rem;
  padding-top: .2rem;

  display: grid;
  place-content: center;
  
  position: relative;
}

.option input[type="radio"] {
  all: unset;
  
  position: absolute;
  inset: 0;
  
  cursor: pointer;
}

.option:hover {
  background-color: var(--orange);
  color: var(--white);
}

.option:has(input:checked) {    
  background-color: var(--medium-grey);
  color: var(--white);
}

.rating-display button {
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2rem;
  padding: .9rem;
  cursor: pointer;
}

.rating-display button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.second-page {
  display: none;
}

.thank-you-display {
  text-align: center;
}

.thank-you-display figure {
  margin-top: .3rem;
}

.message h1 {
  margin-bottom: .7rem;
}

.selected-option p {
  display: inline;
  background-color: var(--dark-blue);
  color: hsl(25, 76%, 61%);
  padding: .6rem .7rem .4rem .7rem;
  border-radius: 2rem;
}

@media screen and (min-width: 450px) {
  .rating-component {
    width: 412px;
    height: 412px;
    border-radius: 30px;
    padding: 1.2rem 2rem;
  }

  .rating-display h1 {
    font-size: 1.8rem;
  }

  .rating-display p {
    font-size: .95rem;
  }

  .icon-star {
    width: 49px;
    height: 49px;
  }

  .icon-star img {
    width: 16px;
    height: 16px;
  }

  .option {
    width: 52px;
    height: 52px;
    font-size: .95rem;
  }

  .rating-display button {
    font-size: .95rem;
  }

  .thank-you-display {
    padding: .2rem;
  }

  .thank-you-display img {
    width: 154px;
  }
}